@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Luckiest+Guy&family=Phudu:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;

}


body {
    background-color: lightcyan;
}


nav {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}


ul {
    display: flex;
    list-style: none;
    height: 60px;
    background-color: black;
    align-items: center;

}

nav ul li {
    padding: 0 12px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.3rem;
}

.brand img {
    width: 55px;
    padding: 0 8px;

}


.container {
    min-height: 65vh;
    background-color: black;
    color: white;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    width: 70%;
    border-radius: 12px;
    padding: 32px;
    margin: 23px auto;
    background: url('bg.jpg') no-repeat center center;
    background-size: cover;
    font-weight: bold;
}



.bottom {
    position: sticky;
    height: 130px;
    background-color: black;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}

.icons {
    margin: 15px 0px;
}

.icons i {
    cursor: pointer;
    padding: 0 20px;
}

#myProgressBar {
    width: 80vw;
    text-align: center;
    cursor: pointer;
}

.songList h1 {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.songItemContainer {
    margin-top: 50px;
}

.songItem {
    height: 60px;
    display: flex;
    background-color: black;

    cursor: pointer;



    color: white;

    font-size: 1.2rem;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    font-weight: bold;
}

.songItem:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
}

.songItem img {
    width: 60px;
    margin: 0px 23px;
    border-radius: 50px;



}

.timestamp {
    margin: 0 23px;

}

.timestamp i {
    cursor: pointer;


}

.songInfo {
    position: absolute;
    left: 10vw;
    z-index: -1;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-family: 'Josefin Sans', sans-serif;
}

.songInfo img {
    opacity: 0;
    transition: opacity 1s ease-in;
}


.blackBackground {
    background-color: black;
    color: white;

}

.whiteBackground {
    background-color: white;
    color: black;
}

.mobileSongInfo {
    display: none;
}


@media screen and (max-width:531px) {
    /* sgsdg */





    .songItem img {
        width: 50px;
        margin: 0px 23px;
        border-radius: 60px;
    }

    .songItem {
        font-size: 15px;

    }

    #masterSongName {
        display: none;
    }

    #gif {
        display: none;

    }

    .mobileSongInfo {

        z-index: 23;
        position: relative;
        bottom: 129px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 5vh;
        width: 100vw;
        background: black;
        color: white;
        position: fixed;

    }

    .mobileSongInfo span {
        position: relative;
        top: 4px;

    }


    #mobileGif {
        top: 4px;
        height: 6vh;
        position: absolute;
        left: 0;
        width: 33vw;
        opacity: 0;
    }



}


@media screen and (max-width:732px) and (min-width:532px) {
    #masterSongName {

        position: absolute;
        text-align: center;
        top: 8vh;
        right: -1vw;
        width: 110px;
    }


    .songItem {
        width: 70vw;
    }
}